@import '@fontsource/comic-neue';

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Comic Neue', sans-serif;
    font-size: larger;
    font-weight: 400;
    width: 100vw;
    height: 100vh;
}

main {
    width: 100%;
    margin: 0 auto;
    background-color: rgb(155, 154, 138);
    height: calc(100vh - 105px);
    padding: 24px;
}

h2,
p {
    margin: 0;
}

.container {
    margin: 50px auto 0 auto;
    display: flex;
    flex-direction: column;
    background-color: black;
    width: fit-content;
    padding: 10px;
    border-radius: 2px;
}